/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Draggable ] ⎯⎯⎯⎯⎯⎯
 */

/**
 * Draglist
 */

.draglist {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: .5rem;

    &__item {
        display: grid;
        grid-template-columns: auto 200px 1fr;
        align-items: center;
        gap: .5rem;
        font-family: var(--ff-heading);
        padding: .25rem;
        line-height: 1;
        background: var(--color-800);
        color: var(--color-100);
        cursor: move;

        .svg-icon {
            color: var(--color-300);
        }
    }

    &__dragging {
        background: var(--color-green-700);
    }

    &--saved {
        outline: 2px solid var(--color-green-300);
        outline-offset: 2px;
    }
}

.draglist.sortable-pages .draglist__item {
    grid-template-columns: auto 1fr;
}