/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Pagination ] ⎯⎯⎯⎯⎯⎯
 */

.pagination {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    border-top: 1px solid rgba(255,255,255,.15);

    &__prev,
    &__next {
        color: var(--color-200);
        text-decoration: underline;
        &:hover,
        &:active {
            color: var(--color-green-300);
        }
    }

    &__prev {
        justify-self: end;
    }

    &__current {
        justify-self: end;
    }

    &__more {
        position: relative;
        color: var(--color-200);
        &:hover,
        &:active {
            color: var(--color-green-300);
        }
    }

    &__list {
        position: absolute;
        top: 0;
        right: 0;
        background: var(--color-950);
        transform: translateY(-100%);
        padding: .5rem;
        max-height: 40vh;
        overflow-y: auto;
    }

    &__link {
        display: block;
        white-space: nowrap;
        color: var(--color-100);
        line-height: 1;
        padding: .5rem .75rem;
        text-decoration: none;
        text-align: center;
        &:hover,
        &:active {
            background: var(--color-700);
            color: var(--color-white);
        }
    }

    @media(max-width: 750px) {
        grid-template-columns: 1fr auto auto;
        align-items: center;
        gap: .75rem;
        padding-top: 1rem !important;
        &__prev,
        &__next {
            border: 1px solid var(--color-300);
            border-radius: .25rem;
            padding: .75rem;

            .svg-icon {
                font-size: 1.25em;
            }

            &:hover,
            &:active {
                background: var(--color-950);
                border-color: var(--color-500);
            }
        }
    }
}