/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Tooltips ] ⎯⎯⎯⎯⎯⎯
 */

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: .375rem;
    display: block;
    white-space: nowrap;
    background: var(--color-950);
    border: 1px solid var(--color-300);
    font-family: var(--ff-heading);
    font-size: var(--fs-300);
    padding: .25rem .375rem;
    transform: translateY(50%);
    animation: fadeInTooltip 0.25s ease-in-out forwards 0.5s;
    line-height: 1;
}

@keyframes fadeInTooltip {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(calc(100% - .375rem));
    }
}