body {
    color: var(--color-200);
    background-color: var(--color-800);
    background-image: radial-gradient(650px circle at 20% 0%, var(--color-700), transparent);
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-300);
    padding: 5rem 0;

    @media(max-width: 750px) {
        padding: 2rem 0;
    }

}
