/**
 * VerdinCMS
 * Website : https://verdincms.com
 * Version : 2023
 * Author  : Tom Papatolis
 * ◌⎯⎯⎯⎯⎯⎯◖ ADMIN :: Root ◗⎯⎯⎯⎯⎯⎯◌
 */

/**
 * Import Partials
 */
@use 'edit_post';
@use '../app/post';

/**
 * Root
 */

:root {
    // Fonts
    --ff-body    : 'Arimo', sans-serif;
    --ff-heading : 'Fira Sans Extra Condensed', sans-serif;
}

/**
 * Light Theme
 */

[data-theme='light'] {
    --foreground-color  : #333;
    --background-color  : #fff;
}

/**
 * Global Styles
 */

body {
    background-image: radial-gradient(
        650px circle at 20% 0%,
        var(--color-800),
        transparent
    );
    background-repeat: no-repeat;
}

a {
    color: var(--color-a200);
}

a:hover {
    color: var(--color-a100);
}

/**
 * Edit Users
 */

 .users-edit-avatar {
	position: relative;

    &__upload {
        position: absolute;
        bottom: 0;
        right: -.75rem;
    }

    &__img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 3px solid transparent;
        background: var(--color-950);
        @media(max-width: 750px) {
            width:  90px;
            height: 90px;
        }

        &.animate {
            animation: animate-avatar-upload 500ms infinite alternate;
        }
    }
}

@keyframes animate-avatar-upload {
    100% {
        border-color: var(--color-orange-400);
    }
}

/**
 * Edit Block
 */

#modal-edit-block {
    width: min(1200px, 90vw);

    .ck-editor__editable_inline {
        height: 320px;
        @media(max-width: 750px) {
            height: 200px;
        }
    }

}

.block-new {
    position: fixed;
    z-index: 5;
    top: var(--navbar-height);
    right: .5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/**
 * Icons
 */

 .elements-converter {
    &__source,
    &__dest {
        background: rgba(0,0,0,.25);
        padding: 1rem;
        border-radius: .5rem;
        border: 1px solid var(--color-800);
        box-shadow: var(--shadow);
        font-family: var(--ff-monospace);
        font-size: .8rem;
        line-height: 1.25;
        color: var(--color-a200);

        &::placeholder {
            color: var(--color-600);
        }
    }

    &__source {
        color: lime;
    }

}

.elements-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.25);
    padding: 1rem .25rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid var(--color-800);
    box-shadow: var(--shadow);

    span {
        margin-top: .25rem;
        color: var(--color-a200);
        font-family: var(--ff-monospace);
        font-size: var(--fs-100);
    }

    &--copied {
        background: var(--color-green-600);
        border-color: var(--color-white);
        color: var(--color-white);
        span {
            color: var(--color-white);

        }
    }
}

.elements-icon .svg-icon {
    width:  3rem;
    height: 3rem;
}

input[name="framework-search"] {
    background: rgba(0,0,0,.25);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-800);
    box-shadow: var(--shadow);
    font-family: var(--ff-monospace);
    font-size: 1.2rem;
    line-height: 1.25;
    color: var(--color-a200);
    outline: none;

    &::placeholder {
        color: var(--color-600);
    }

}