/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Widths ] ⎯⎯⎯⎯⎯⎯
 */

 @use '../abstracts/mixins' as m;

/**
 * Widths & Heights
 * --- Values: 20 -> 800
 */

@for $i from 1 through 40 {
    // Width
    .w-#{$i * 20} {
        width: #{$i * 20} + px;
        max-width: 100%;
    }

    // Height
    .h-#{$i * 20} {
        height: #{$i * 20} + px;
    }

    // Minimum Width
    .mw-#{$i * 20} {
        min-width: #{$i * 20} + px;
        max-width: 100%;
    }

    // Maximum Width
    .w-max-#{$i * 20} {
        max-width: #{$i * 20} + px;
    }

    // Minimum Height
    .mh-#{$i * 20} {
        min-height: #{$i * 20} + px;
    }
}

// Reset for small screens
@include m.mq(small) {
    [class*="mh-"] {
        min-height: auto !important;
    }
    [class*="mw-"] {
        min-width: auto !important;
    }
}

/**
 * Widths & Heights for Small Displays
 * --- Values: 20 -> 800
 */

@include m.mq(small) {
    @for $i from 1 through 40 {
        .w-sm-#{$i * 20} {
            width: #{$i * 20} + px !important;
            max-width: 100%;
        }

        .h-sm-#{$i * 20} {
            height: #{$i * 20} + px !important;
        }
    }
}

/**
 * Widths & Heights based on Viewport
 * --- Values: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
 */

 @for $i from 1 through 20 {
    // Width
    .w-#{$i}vw {
        width: $i + vw;
        max-width: 100%;
    }
    // Height
    .h-#{$i}vh {
        width: $i + vh;
    }
}

/**
 * Helpers
 */

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}

.w-fit {
    width: fit-content;
}

.mw-0 {
    min-width: 0 !important;
}

.w-full {
    width: 100%;
    height: auto;
}

.w-max-hd {
    max-width: 1920px;
}